TSSLogParser.SSIS/eventlog.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Events">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Event">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="System">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Provider">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="EventID" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="Level" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Task" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Keywords" type="xs:string" />
                    <xs:element minOccurs="0" name="TimeCreated">
                      <xs:complexType>
                        <xs:attribute name="SystemTime" type="xs:dateTime" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="EventRecordID" type="xs:int" />
                    <xs:element minOccurs="0" name="Channel" type="xs:string" />
                    <xs:element minOccurs="0" name="Computer" type="xs:string" />
                    <xs:element minOccurs="0" name="Security" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="EventData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Data">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value = "4000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Binary" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>